<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<form action="#" th:action="@{/cadastro}" method="post">
			<label>Nome completo: </label>
				<input type="text" name="nome">
			<br>
			<label>Username: </label>
				<input type="text" name="username">
			<br>
			<label>Senha: </label>
				<input type="password" name="senha">
			<br>
			<label>Data de nascimento: </label>
				<input type="date" name="dtNasc">
			<br>
			<label>Estado: </label>
				<input type="text" name="uf">
			<br>
			<label>Cidade: </label>
				<input type="text" name="cidade">
			<br>
			<input type = 'submit' name = 'btnCadastro' value="cadastrar">
			<div th:if="${param.error}" >    
              	Username ja utilizado
         	</div>
		</form>
	</body>
</html>