
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>PPADS Login</title>
	</head>
	<body>
		<form action = '#' th:action="@{/login}"  method="post">
			<label>Username: </label>
				<input type = 'text' name = 'username'>
			<br>
			<label>Senha: </label>
				<input type = 'password' name = 'senha'>
			<input type = 'submit' name = 'btnLogin' value = 'acessar'>
			
			<div th:if="${param.error}" >    
              	Username ou senha inválida
         	</div>
         	<div th:if="${param.logout}"> 
               	Voce saiu
         	</div>    
		</form>
		<a href = '#'>Esqueci minha senha</a>
		<a href = '/cadastro'>Não é usuário ainda? Cadastre-se!</a>
	</body>
</html>