:root {
	--gradient: linear-gradient(to left top, #FF9A1F, #A300A3) !important;
}

body {
	background: #fff !important;
	font-family:'Open Sans', sans-serif !important;
}

a{
	color: #fff !important;
	text-decoration: none !important;
}

a:hover{
	color: #fff !important;
	text-decoration: none !important;
}

.card {
	background: #fff;
	border: 3px solid !important;
	border-image-slice: 1 !important;
	border-image-source: var(--gradient) !important;
	color: #000;
	margin-bottom: 2rem;
}

.card-title{
	padding-top: 1.15rem;
	text-align: center;
	color: #000;
}

.card-subtitle-individual{
	text-align: center !important;
}

.btn {
	color: #fff !important;
	background: #111111 !important;
	border-color: #111 !important;
	text-decoration: none;
	transition: all .4s ease;
	margin-bottom: 10px;
}

.pull-right{
	float: right!important
}

.pull-left{
	float: left!important
}

.btn:hover, .btn:focus {
	opacity: 0.75;
}

.container.mx-auto.mt-4{
	box-shadow: 0px 11px 23px 5px rgba(0,0,0,0.34) !important;
	margin-top: 0px !important;
}

.mt-100 {
	margin-top: 100px
}

.mb-100 {
	margin-bottom: 100px
}

.cont-borda{
	border-bottom: 1px solid !important;
	border-image-slice: 1 !important;
	border-image-source: var(--gradient) !important;
	margin-bottom: 2rem;
	text-transform: capitalize !important;
}

h4{
	text-transform: uppercase;
}