<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		
		<!-- 
			ACRESCENTAR O NOME DO USUARIO NO TITLE
		 -->
		 
		<title th:text="${user.nome} + '- Alterar Cadastro'">Nome - Alterar cadastro</title>
		
		<!-- 
			ACRESCENTAR O NOME DO USUARIO NO TITLE
		 -->
		 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/image/css/my-login.css">
		<link rel="stylesheet" type="text/css" href="/image/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/image/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	</head>
	<body class="my-login-page">
		<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-md-center h-100">
					<div class="card-wrapper">
						<div class="brand">
							<img src="/image/img/logo.jpg" alt="bootstrap 4 login page">
						</div>
						<div class="card fat">
							<div class="card-body">
								<h4 class="card-title">Alterar dados cadastrais</h4>
								<form method="POST" class="my-login-validation" novalidate="" th:action="@{/cadastro}">
									<div class="form-group">
										<label>Nome completo: </label>
										<input type="text" class="form-control" name="nome" required autofocus>
									</div>

									<div class="form-group">
										<label>Data de nascimento: </label>
										<input type="date" class="form-control" name="dtNasc" required>
									</div>

									<div class="form-group">
										<label>Estado (UF): </label>
										<select type = "text" class = "form-control" name = "uf" required>
											<option value = "">Selecione</option>
											<option value = "AC">Acre</option>
											<option value = "AL">Alagoas</option>
											<option value = "AP">Amapá</option>
											<option value = "AM">Amazonas</option>
											<option value = "BA">Bahia</option>
											<option value = "CE">Ceará</option>
											<option value = "DF">Distrito Federal</option>
											<option value = "ES">Espírito Santo</option>
											<option value = "GO">Goiás</option>
											<option value = "MA">Maranhão</option>
											<option value = "MT">Mato Grosso</option>
											<option value = "MS">Mato Groso do Sul</option>
											<option value = "MG">Minas Gerais</option>
											<option value = "PA">Pará</option>
											<option value = "PB">Paraíba</option>
											<option value = "PR">Paraná</option>
											<option value = "PE">Pernambuco</option>
											<option value = "PI">Piauí</option>
											<option value = "RJ">Rio de Janeiro</option>
											<option value = "RN">Rio Grande do Norte</option>
											<option value = "RS">Rio Grande do Sul</option>
											<option value = "RO">Rondônia</option>
											<option value = "RR">Roraima</option>
											<option value = "SC">Santa Catarina</option>
											<option value = "SP">São Paulo</option>
											<option value = "SE">Sergipe</option>
											<option value = "TO">Tocantins</option>
										</select>
									</div>

									<div class="form-group">
										<label>Cidade: </label>
										<input type="text" class="form-control" name="cidade" required>
									</div>

									<div class="form-group">
										<label>Username: </label>
										<input type="text" class="form-control" name="username" required>
									</div>
									<div class="form-group">
										<label>Senha: </label>
										<input type="password" class="form-control" name="senha" required data-eye>
									</div>

									<div class="form-group m-0">
										<button type="submit" class="btn btn-primary btn-block">
											SALVAR
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="footer">
							Copyright &copy; 2021 &mdash; Isabela, Juliano e Leonardo 
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/image/js/my-login.js"></script>
	</body>
</html>