<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
	<title>IndexMembro</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
		<link rel="stylesheet" href="/image/css/styleIndexMembro.css">
		<link rel="stylesheet" href="/image/headers/assets/css/style.css">		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
	</head>
	<body oncontextmenu='return false' class='snippet-body'>
		<div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" href="#">PPADS</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="/indexmembro">Sugestões para você</a>
                            </li>
                            <li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Cadastrar novo item</a>
                                <div class="dropdown-menu" role="menu">
                                	<a class="dropdown-item" role="presentation" href="/cadastrofilme">Cadastrar filme</a>
                                	<a class="dropdown-item" role="presentation" href="/cadastrolivro">Cadastrar livro</a>
                                	<a class="dropdown-item" role="presentation" href="/cadastroserie">Cadastrar série</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline mr-auto" th:action="@{/pesquisar}" method="post">
                            <div class="form-group">
                                <label for="search-field">
                                    <i class="fa fa-search"></i>
                                </label>
                                <input class="form-control search-field" type="search" name="pesquisa" id="search-field">
                            </div>
                        </form>
                        
                        <!-- FAZER LINK DE PERFIL FUNCIONAR -->
                        <a class="btn1 btn-light action-button" th:href="@{/perfilmembro/{username}(username=${user.username})}">Meu perfil</a>
                    </div>
                </div>
            </nav>
        </div>
	   	<div class="container mx-auto mt-4">
			<div class="cardAmizade">
				<div class="card-bodyAmizade text-center">
					<h4 class="card-titleAmizade m-b-0">Pedidos de amizade recebidos: </h4>
					<br/>				
				</div>
				<ul class="list-style-none">
					<h5 class="card-titleAmizade m-b-0" th:if="${l3==0}">Não há pedidos de amizade recebidos.</h5>
					<li class="d-flex no-block card-body" th:if="${l3!=0}" th:each="a : ${listaAmizade}">
						<div> 
							<a  href="@{/perfilmembro/{username}(username=${a.username1})}"><h5 class="m-b-0 font-medium p-0" data-abc="true" th:utext="${a.nome1}"></h5></a>
							<span class="text-muted" th:text="${a.username1}"></span>
						</div>
						<div class="ml-auto">
							<div class="tetx-right">
								<h5 class="text-muted m-b-0">
									<form th:action="@{/checaramizade(check='s',id=${a.id})}" method="post">
										<input type="submit" value="Aceitar" class="a-aceitar"/><i class="fas fa-check-circle a-aceitar"></i>
									</form>
								</h5>
								<h5 class="text-muted m-b-0">
									<form th:action="@{/checaramizade(check='n',id=${a.id})}" method="post">
										<input type="submit" value="Recusar"  class="a-recusar"/><i class="fas fa-times-circle a-recusar"></i>
									</form>
								</h5>
							</div>
						</div>
					</li>
				</ul>
			</div>
		<br>
			<h4 class="card-title">Recomendações de amigos: </h4>
			<h4 class="card-title" th:if="${l1==0}">Não há amigos recomendados para você.</h4>
			<div class="row" th:if="${l1!=0}">			
				<div class="col-md-4" th:each="u : ${listaAmigo}">				
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${u.nome}"></h5>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${u.username}"></h6>
	
							<p class="card-text" th:text="${u.cidade}"></p>
	
							<!--p class="card-text" th:text="${u.numJoinha}"></p-->
	
							<a th:href="@{/perfilmembro/{username}(username=${u.username})}" class="btn mr-2"><i class="fas fa-external-link-alt"></i> Visitar a página desse membro</a>
						</div>
					</div>
				</div>
			</div>


			<!--ROW DE RECOMENDAÇÃO DE FILMES-->
			<h4 class="card-title">Recomendações de mídias: </h4>
			<h4 class="card-title" th:if="${l2==0}">Não há mídias recomendadas para você.</h4>
			<div class="row" th:if="${l2!=0}">	
			<!-- COL DE FILME -->		
				<div class="col-md-4" th:each="Item : ${listaItem}" th:if="${Item.tipo=='F'}">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${Item.titulo}"></h5>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${Item.diretor}"></h6>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${Item.ano}"></h6>			
	
							<a th:href="@{/paginaitem/{id}(id=${Item.id})}" class="btn mr-2"><i class="fas fa-external-link-alt"></i> Visitar a página desse filme</a>
						</div>
					</div>
				</div>
				
				<!-- COL DE LIVRO -->
				<div class="col-md-4" th:each="Item : ${listaItem}" th:if="${Item.tipo=='L'}">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${Item.titulo}"></h5>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${Item.autor}"></h6>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${Item.ano}"></h6>			
	
							<a th:href="@{/paginaitem/{id}(id=${Item.id})}" class="btn mr-2"><i class="fas fa-external-link-alt"></i> Visitar a página desse livro</a>
						</div>
					</div>
				</div>
				
				<!-- COL DE SÉRIE -->
				<div class="col-md-4" th:each="Item : ${listaItem}" th:if="${Item.tipo=='S'}">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${Item.titulo}"></h5>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${Item.diretor}"></h6>
	
							<h6 class="card-subtitle mb-2 text-muted" th:text="${Item.numTemp}"></h6>			
	
							<a th:href="@{/paginaitem/{id}(id=${Item.id})}" class="btn mr-2"><i class="fas fa-external-link-alt"></i> Visitar a página dessa série</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	</body>	
</html>