<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<script th:if="${param.curtido}">
			alert("voce retirou a curtida");
		</script>
		<h1><span th:text="${user.username}">username</span></h1>
		
		</br></br>
		<div th:if="${membro=='eu'}">
			<a href="/alterarCadastro"><button>Alterar Dados de cadastro</button></a>
		</div>
		</br>
		<div th:if="${membro=='amigo'}">
			<p>Seu amigo</p>>
		</div>
		<div th:if="${membro=='membro'}">
			<form th:action="@{/pediramizade(id=${user.id})}" method="post">
	       		 	<input type="submit" value="pedir amizade" />
	   		</form>
		</div>
		<div>
		<h3>Avaliações</h3>
			<dl th:each="a : ${listaAvaliacao}">
	      		<dt>
					<p>Membro: <span th:text="${a.username}">Username</span></br> </p>
					<p>Joinha: <span th:text="${a.numJoinha}">numJoinha</span></p>
					<p>nota: <span th:text="${a.nota}">nota</span></br> </p>
					<p>Descricao: <span th:text="${a.descricao}">descricao</span></p>
		      		<h5>Comentarios</h5>
		      		<dl th:each="c : ${a.comentarios}">
		      		<span th:text="${#lists.size(c)}"></span>
		      		 	<dt th:if="${#lists.size(c) > 0}">
		      				<p>Comentario: <span th:text="${c.descricao}">descicao</span></p>
		      			</dt>
		      	
		      		</dl>
		      		<form th:action="@{/darJoinha(id=${a.id},ind='pgmembro')}" method="post">
		       		 	<input type="submit" value="curtir" />
		   		 	</form>
		   		 	<form th:if="${membro=='amigo'}" th:action="@{/comentar(id=${a.id},ind='pgmembro')}" method="post">
	       		 		<input type="text" name="comentario">
	       		 		<input type="submit" value="comentar" />
	   		 		</form>
	      		</dt>
	    	</dl>
		</div>
		
		<h3>Amizades</h3>
			<dl th:each="a : ${listaAmizade}">
	      	<dt th:if="${a.idUser1}==${user.id}">
				<p>Membro: <span th:text="${a.username2}">Username</span></p>
				<a th:href="@{/perfilmembro/{username}(username=${a.username2})}"><button>Visite a página do membro</button></a>
	      		</br>
	      </dt>
	      <dt th:if="${a.idUser2}==${user.id}">
				<p>Membro: <span th:text="${a.username1}">Username</span></p>
				<a th:href="@{/perfilmembro/{username}(username=${a.username1})}"><button>Visite a página do membro</button></a>
	      		</br>
	      </dt>
	    </dl>
		</div>
		<div th:if="${membro=='eu'}">
			<form th:action="@{/deletarconta}" method="post">
			<!-- Implementar javascript check de confirmação -->
		       		 	<input type="submit" value="apagar conta" />
		   	</form>
		</div>
	</body>
	
</html>